.mainForm {
	background: #9ACD32;
	opacity: 0.7;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 4.4em;
	padding: 1em;
	padding-top: 1em;
	padding-bottom: 2em;
	border-radius: 1em;
}

.navbar {
	background: #9ACD32;
}

.mainForm:hover {
	opacity: 1;
}

.buttonForm {
	text-align: center;
}

body {
	background: #32cd32;
}

.imagesJPG {
	opacity: 0.8;
}

.imagesJPG:hover {
	opacity: 1;
}

.mainForm, .imageShow {
	margin-top: 7.2em;
}

.navbar {
	border: none;
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.logo-small {
	color: #f4511e;
	font-size: 50px;
}

.logo-footer {
	color: #f4511e;
	font-size: 10px;
}

.logo {
	color: #c0ee7e;
	font-size: 100px;
}

.main-side-layout {
	margin-top: 4em;
}
h1
{
	font-family: serif;
	font-weight: bold;
}

.ghost-button {
	display: inline-block;
	width: 200px;
	height: 40px;
	padding: 8px;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	border: 2px solid #fff;
	text-align: center;
	font-style: normal;
	font-weight: 800; font-size : medium; outline : none;
	text-decoration: none;
	outline: none;
	font-size: medium;
}

.ghost-button-full-color:hover, .ghost-button-full-color:active {
	text-align: center;
	padding: 8px;
	text-decoration: none;
	color: #fff;
	text-align: center;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.4);
	border-color: #fff;
	border-color: rgba(255, 255, 255, 0.4);
	transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
	transition: color 0.2s ease-in, background-color 0.1s ease-in,
		border-color 0.2s ease-in;
}